body, html{

height: 100%;
background-color: lightblue;

}

.bg{
/* Altura */
height: 60%;
/* Centrar y escalar imagen */
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.topnav {

overflow: hidden;

}

.Descripcion{


float: right;

}

.topnav a{
padding: 10px 10px;
color: orange;
font-size: 18px;

}

.bottom{

  border: 1px solid LightGrey;
  padding: 800px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}
